
cypress/videos/RECORDINGACADEMYPROD/ValidateAnalyticsAndGTMRecordingAcademyProd.js.mp4
cypress/videos/RECORDINGACADEMYDEV/ValidateAnalyticsAndGTMRecordingAcademyDev.js.mp4
cypress/videos/MUSICARESPROD/ValidateAnalyticsAndGTMMusicCaresProd.js.mp4
cypress/videos/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js.mp4
cypress/videos/LATINGRAMMYSPROD/ValidateAnalyticsAndGTMLatinGrammyProd.js.mp4
cypress/videos/GRAMMYDEV/ValidateAnalyticsAndGTMGrammyDev.js.mp4
cypress/videos/GRAMMY-PROD/ValidateAnalyticsAndGTMGrammyProd.js.mp4
cypress/screenshots/RECORDINGACADEMYDEV/ValidateAnalyticsAndGTMRecordingAcademyDev.js/Validate RECORDING ACADEMY dev Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-recording-academy.vercel.appnewscalifornia-arts-and-music-initiative-ballot-proposition-28-ballot -- Validating RECORDING A.png
cypress/screenshots/RECORDINGACADEMYDEV/ValidateAnalyticsAndGTMRecordingAcademyDev.js/Validate RECORDING ACADEMY dev Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-recording-academy.vercel.appnewscalifornia-arts-and-music-initiative-ballot-proposition-28-ballot -- Validating GTM script .png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Open LGCF Home Page (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgptwhat-we-do -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgptnewsfundacao-cultural-latin-grammy-ganha-com--a-venda-de-ingressos-para-a-proxima-turne-de-camilo -- Validating G.png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgptnews -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgptabout -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgpt -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgesnewsfundacao-cultural-latin-grammy-ganha-com--a-venda-de-ingressos-para-a-proxima-turne-de-camilo -- Validating G.png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgesnews -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgesabout -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgesabout -- Validating Google Analytics in LGCF (failed) (1).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orges -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgenwhat-we-do -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgennewsfundacao-cultural-latin-grammy-ganha-com--a-venda-de-ingressos-para-a-proxima-turne-de-camilo -- Validating G.png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgenabout -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/LGCFPROD/ValidateAnalyticsAndGTMLgcfProd.js/Validate LGCF Google Anlytics -- Loading URL and validade Google Analytics pageview function httpswww.latingrammyculturalfoundation.orgen -- Validating Google Analytics in LGCF (failed).png
cypress/screenshots/GRAMMYDEV/ValidateAnalyticsAndGTMGrammyDev.js/Validate GRAMMY DEV Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-grammy.vercel.appmusic-genrepop -- Validating GTM script on httpsdevelop-tra-grammy.vercel.appmusic-genrepop -- Validating GTM (failed.png
cypress/screenshots/GRAMMYDEV/ValidateAnalyticsAndGTMGrammyDev.js/Validate GRAMMY DEV Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-grammy.vercel.appmusic-genrepop -- Validate GRAMMY DEV Google Anlytics (failed).png
cypress/screenshots/GRAMMYDEV/ValidateAnalyticsAndGTMGrammyDev.js/Validate GRAMMY DEV Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-grammy.vercel.appartistsmaluma251895 -- Validating GTM script on httpsdevelop-tra-grammy.vercel.appartistsmaluma251895 -- Validating G.png
cypress/screenshots/GRAMMYDEV/ValidateAnalyticsAndGTMGrammyDev.js/Validate GRAMMY DEV Google Anlytics -- Loading URL and validade Google Analytics pageview function httpsdevelop-tra-grammy.vercel.appartistsmaluma251895 -- Validate GRAMMY DEV Google Anlytics (failed).png
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180725.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180725.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180639.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180639.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180551.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180551.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180457.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180457.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180234.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180234.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180215.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180215.html
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180050.json
cypress/report/mochawesome-report/GrammyAutomationTest_08032022_180050.html
cypress/report/
cypress/screenshots
cypress/videos
cypress/node_modules